
<div class="container">

  <h1> <%= @cocktail.name %></h1>
  <br>
  <%= cl_image_tag @cocktail.photo, height: 300, width: 400, crop: :fill %>
  <%= link_to "Add a dose", new_cocktail_dose_path(@cocktail) %>
  <br>
  <div class="container">
    <ul>
      <% @cocktail.doses.each do |dose| %>
        <li>
          <%= dose.description %> of <%= dose.ingredient.name %>
          <%= link_to "Delete", dose_path(dose),
            method: :delete,
            data: { confirm: "Are you sure?" } %>
        </li>
      <% end %>
    </ul>
  </div>
  <%= link_to "Back to Cocktails", cocktails_path %>
</div>
